.App {
  text-align: center;
  padding: 5px;
  align-content: center
}
ul {
  list-style-type: none;
}
li {
  padding: 5px
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.Card {
background-color: mediumaquamarine;
  max-width: 500px;
  border: 5px;
  padding: 15px;
  text-align: left;
  align-content: center;
  vertical-align: middle;
  justify-content: space-between;
}
.Card2 {
  background-color: skyblue;
    max-width: 500px;
    border: 5px;
    padding: 15px;
    text-align: left;
    align-content: center;
    vertical-align: middle;
    justify-content: space-between;
  }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
